h1 {
  
  color: orange;
  text-align: center;
}

.square {
  height: 200px;
  width: 200px;
  border: 1px solid white;
  font-size: 10rem;
  text-align: center;
  background-color:black
}
.board{
  display: flex;
  flex-wrap: wrap;
  width: 610px;
  margin: 0 auto;
  color: orange;
}
.counter-box{
  
  width: 10rem;
  margin: auto;
}
.how-to{

  width: 80rem;
  height: 10rem;
}